<ion-header>
  <ion-navbar color="danger">
    <ion-title>Aluno Audio</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
<form *ngFor="let actv of lista | async"> 
<ion-card>
<!-- Atividade -->

  <ion-item > 
  <p>{{actv.title}}</p>
  <h2>{{actv.description}}</h2>
  <p>{{actv.date}}</p>
  </ion-item>
 
  <ion-row>
    <ion-col>
      <button ion-button icon-start clear color="danger" >
        <ion-icon name="mic"></ion-icon>
        <div>Play </div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-start clear color="danger">
        <ion-icon name="mic"></ion-icon>
        <div>Record </div>
      </button>
    </ion-col>
  </ion-row>
<!-- Atividade -->
</ion-card>
</form>
<!-- Quando o aluno clicar no icone de audio de dentro do card , ja iniciar a gravação do audio e enviar -->







