<ion-header>
	<ion-navbar color="danger">
		<p align="center"><ion-title>Login Student</ion-title></p>
	</ion-navbar>
</ion-header>


 
<ion-content>
	<form #form="ngForm" (submit)="login(form)">
		<ion-list>

			<ion-item>
				<ion-label floating >User</ion-label>
				<ion-input name="email"  type="email" ngModel></ion-input>
			</ion-item>

			<ion-item>
				<ion-label floating >Password</ion-label>
				<ion-input name="senha"  type="password" ngModel></ion-input>
			</ion-item>

		


    <div padding>
		<button (click)="login()" round ion-button block color="danger">Login</button>
    </div>

    

    </ion-list>

	</form>

  <div padding>
     <button (click)="forgotpassword()"><a >Forgot your password?</a></button>
    </div>

</ion-content>


