<ion-header>
	<ion-navbar color="danger">
		<p align="center">
			<ion-title>Feedback</ion-title>
		</p>
	</ion-navbar>
</ion-header>

<ion-content>

	<ion-list>

		<ion-item-sliding *ngFor="let actv of lista | async">
			<ion-item>
				<h2>{{actv.title}}</h2>
				<p>{{actv.date}}</p>
				<p>{{actv.description}}</p>
				<p>{{actv.status}}</p>
				<p>{{actv.time_reply}}</p>
			</ion-item>
			<ion-item-options side="right">
				<button ion-button color="primary">
<ion-icon name="create" (click)="feedbackadm()"></ion-icon>
       Feedback</button>
     </ion-item-options>

 
</ion-item-sliding>
    
<!-- Fim da lista -->
	  
</ion-list>
</ion-content>