<ion-header>
	<ion-navbar color="danger">
    <ion-buttons end (click)="logoutAdm()">
      <button ion-button icon-only color="light">
         <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>
		<p align="center"><ion-title>Lista de Atividades</ion-title></p>
	</ion-navbar>
</ion-header>
<ion-content>


<ion-content  >

<!-- Atividade -->
<ion-list >

<ion-item-sliding *ngFor="let actv of lista | async"> 
  
 
   
<ion-item>
    <h2>{{actv.title}}</h2>
    <p>{{actv.date}}</p>
    <p>{{actv.description}}</p>
    <p>{{actv.status ? "Ativado" : "Desativado"}}</p>
    <p>{{actv.time_reply}}</p>
     
  </ion-item>
   <!-- Botão para apagar uma atividade -->
 <ion-item-options side="left">
     <button ion-button color="danger" (click)="delete(actv.id)">
       <ion-icon name="trash"></ion-icon>
       Del</button>
              
         <button ion-button color="primary" (click)="desativar(actv.id)">
       <ion-icon name="close"></ion-icon>
       Off</button>

        <button ion-button color="secondary" (click)="ativar(actv.id)">
       <ion-icon name="power"></ion-icon>
       ON</button>

     </ion-item-options>
<!-- Botão para apagar uma atividade -->

 
</ion-item-sliding>
    
<!-- Fim da lista -->
	  
</ion-list>
<!-- Atividade -->

<!-- Fim da lista -->
 <ion-fab right bottom>
    <button ion-fab color="danger"><ion-icon name="arrow-dropup"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click)="criar()"><ion-icon name="add"  ></ion-icon></button>
      <button ion-fab (click)="corrigir()"><ion-icon name="checkbox-outline" ></ion-icon></button>
      
    </ion-fab-list>
  </ion-fab>

</ion-content>