
<ion-header>
	<ion-navbar color="danger">
<p align="center"><ion-title>Welcome</ion-title></p>
 
		
	</ion-navbar>
 
</ion-header>
<ion-content padding>


			<ion-list padding>
				<ion-item>
					<ion-avatar item-start>
						<img src="https://bit.ly/2LMG9jT">
					</ion-avatar>
					<h2>Audio</h2>
				</ion-item>
       <button ion-button color="danger" clear (click)="listhw()">View</button>
			</ion-list>
      <ion-fab right bottom>
  <button ion-fab mini color="danger" (click)="logout()">
    <ion-icon name="log-out"></ion-icon>
  </button>
</ion-fab>

</ion-content>