<ion-header>
	<ion-navbar color="danger">
<p align="center"><ion-title>Login Adm</ion-title></p>
</ion-navbar>
</ion-header>


<ion-content>
	<form #form>
		<ion-list>
			<ion-item>
				<ion-label floating >User</ion-label>
				<ion-input name="email" type="email" #email></ion-input>
			</ion-item>

			<ion-item>
				<ion-label floating >Password</ion-label>
				<ion-input name="senha"  type="password" #senha></ion-input>
			</ion-item>
	

    <div padding>
		<button (click)="login()" round ion-button block color="danger">Login</button>
    </div>

  
  	</ion-list>
</form>

</ion-content>