<ion-header>
	<ion-navbar color="danger">
		<p align="center"><ion-title>Create a account</ion-title></p>
	</ion-navbar>
</ion-header>

<ion-content>
	<form #form="ngForm" (submit)="salvar(form)">
   
		<ion-list>

			<ion-item>
				<ion-label floating>Email</ion-label>
				<ion-input name="email"  type="email" ngModel ></ion-input>
			</ion-item>
      	<ion-item>
				<ion-label floating>Confirm email</ion-label>
				<ion-input name="email"  type="email" ngModel></ion-input>
			</ion-item>
      	<ion-item>
				<ion-label floating>password</ion-label>
				<ion-input name="senha"  type="password"  ngModel></ion-input>
			</ion-item>
      	

       

         <!-- <ion-item>
      <ion-label>Professor</ion-label>
      <ion-toggle (ionChange)="isDisabled = !isDisabled"></ion-toggle>
    </ion-item>

      <ion-item>
      <ion-label>Never</ion-label>
      <ion-radio [disabled]="isDisabled"></ion-radio>
    </ion-item> -->

		


    <div padding>
		<button round ion-button block color="danger" (click)="createaaccount()">Create a account</button>
    </div>

 </ion-list>

	</form>

</ion-content>