<ion-header>
	<ion-navbar color="danger">
    <ion-buttons end (click)="logout()">
      <button ion-button icon-only color="light">
         <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>
		<p align="center"><ion-title>Home Work List</ion-title></p>
	</ion-navbar>
</ion-header>


<ion-content  >

<ion-list >

<ion-item-sliding *ngFor="let actv of lista | async"> 
     
<ion-item (click)="responder()" >
    <h2>{{actv.title}}</h2>
    <p>{{actv.date}}</p>
    <p>{{actv.description}}</p>
     <p>{{actv.status}}</p>
    <p>{{actv.time_reply}}</p>
     
  </ion-item>
    

 
</ion-item-sliding>
    
<!-- Fim da lista -->
	  
</ion-list>
</ion-content>