<ion-header>
	<ion-navbar color="danger">
		<p align="center"><ion-title>Forgot Password</ion-title></p>
	</ion-navbar>
</ion-header>


 
<ion-content>
<form padding>

	<ion-list>

			<ion-item>
				<ion-label floating>Email</ion-label>
				<ion-input type="email"></ion-input>
			</ion-item>
		</ion-list>


    <div padding>
		<button round ion-button block color="danger" (click)="resetpassword()">Send Email</button>
    </div>


</form>
</ion-content>