<ion-header>
	<ion-navbar color="danger">
		<ion-title>REGISTER ACTIVITIES</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>

	<form #form="ngForm" (submit)="salvar(form)">
		
		<ion-list>
			<ion-item>
				<ion-label floating>Activities List</ion-label>
				<ion-input name="title" type="text" ngModel required></ion-input>
			</ion-item>
			<ion-item>
				<ion-label>Post Date</ion-label>
				<ion-input name="date" type="date" ngModel required></ion-input>
			</ion-item>

			<ion-item>
				<ion-label floating>Activity Description</ion-label>
				<ion-textarea name="description" type="text" rows="5" ngModel required></ion-textarea>
			</ion-item>

			<ion-item>
				<ion-label fixed>Ativada</ion-label>
				<ion-icon name="checkbox" item-end required></ion-icon>
			</ion-item>

			<ion-item>
				<ion-label floating>Time for Reply</ion-label>
				<ion-input name="time_reply" type="text" ngModel required></ion-input>
			</ion-item>

			<ion-item>
				<ion-label fixed>Cad. Audio</ion-label>
				<ion-icon name="mic" (click)="startRecord()" item-end *ngIf="!recording"></ion-icon>
				<ion-icon name="square" (click)="stopRecord()" item-end *ngIf="recording"></ion-icon>
			</ion-item>

			<ion-item *ngIf="recorded">
				<ion-label fixed>Play Audio</ion-label>
				<ion-icon name="play" (click)="play()" item-end></ion-icon>
			</ion-item>

		<ion-row>
			<ion-col padding>
     			<button ion-button block round color="primary" (click)="salvar()" *ngIf="recorded">Register Homework</button>
			</ion-col>
		</ion-row>


	</ion-list>
  </form>