<ion-header>
	<ion-navbar color="danger">
		<p align="center"><ion-title>EDIT ACTIVITIES</ion-title></p>
	</ion-navbar>
</ion-header>
<ion-content>

<!-- A ideia é ja trazer os dados da atividade quando for editar -->
  <ion-list>
<form #form="ngForm" (submit)="editar(form)"> 
  <ion-item >
    <ion-label floating>Subject of Activity</ion-label>
    <ion-input type="text" name="title" [(ngModel)] = "user.title" ></ion-input>
  </ion-item>
 
<ion-row>
  <ion-col>
 <button ion-button block round color="primary" (click)="editar()">Update</button>
  </ion-col>
</ion-row>

</form>
</ion-list>