<ion-header>
	<ion-navbar color="danger">
<p align="center"><ion-title>Fast English App</ion-title></p>
	</ion-navbar>
</ion-header>

<ion-content padding>
 
 <ion-card>
  

  <img  src="https://bit.ly/2MOEU8h" width="100" height="350"/>
  <ion-card-content>

   <ion-row>
     <ion-col col-md-6>
        <button round ion-button color="danger" (click)="loginstd()"> Login</button>
     </ion-col>

     <ion-col col-md-6>
<button round ion-button  color="danger" (click)="signup()"> Sign Up</button>
    
     </ion-col>

  <button (click)="loginadm()"><ion-icon name="lock"></ion-icon></button>
   </ion-row>
  </ion-card-content>
</ion-card>

</ion-content>