<ion-menu [content]="content">
<ion-header>
	<ion-navbar color="danger">
		<p align="center"><ion-title>Home Work List</ion-title></p>
	</ion-navbar>
</ion-header>
<ion-content>
  <ion-list>

   
  

  </ion-list>
</ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnable="false"></ion-nav>